.listItemContainer {
    margin: 2em auto 3em;
}

.listItemContainerInfos {
    font-size: 1.2rem;
    text-decoration: none!important;
    display: flex;
    margin: 1em;
    color: #c8cf49;
    align-items: center;
    justify-content: space-between;
}

.listItemContainerInfos:hover {
    color: #aeb528;
}


@media only screen and (max-width: 600px) {
  .listItemContainerInfos {
    flex-flow: column;
    font-size: 1rem;
  }

  .listItemContainerInfos strong {
    margin-bottom: 1em;
  }
}